{% extends 'login_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change password – Faces{% endblock %}

{% block form %}
    <form method="post" action="{% url 'username_change' %}" class="card bg-light p-3" style="max-width: 330px">
        {% csrf_token %}
        <img src="{% static 'img/faces.svg' %}" alt="Faces logo" class="w-75 m-auto my-3">
        <p class="lead text-center mb-0">Change username</p>
        <p class="text-danger text-center">Your old links will become broken.</p>
        {{ form|crispy }}
        <div class="row mx-0">
            <button type="submit" class="btn btn-primary col me-3">Submit</button>
            <a href="" class="btn btn-secondary col">Go back</a>
        </div>
    </form>
    <style>
        .form-text {
            display: none;
        }
    </style>
{% endblock %}