{% extends 'widgets/modal.html' %}

{% block id %}new-post{% endblock %}

{% block header %}
    Create a post
{% endblock %}

{% block body %}
    <form method="post" action="{% url 'create_post' %}">
        {% csrf_token %}
        <div class="modal-body">
            <textarea class="form-control" name="content" rows="10" maxlength="4096"></textarea>
        </div>
        <input type="hidden" name="path" value="{{ request.path }}">
        <div class="modal-footer">
            <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>
{% endblock %}