{% extends 'widgets/modal.html' %}

{% block id %}edit-{{ post.author }}-{{ post.identifier }}{% endblock %}

{% block header %}Edit post{% endblock %}

{% block body %}
    <form method="post" action="{% url 'edit_post' post.author post.identifier %}">
        {% csrf_token %}
        <div class="modal-body">
            <textarea class="form-control" name="content" rows="10">{{ post.content|linebreaksbr }}</textarea>
        </div>
        <input type="hidden" name="path" value="{{ request.path }}">
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>
{% endblock %}
