{% load static %}
{% load user_filters %}
<div class="card bg-white mb-3 p-3">
    <small>
        Published by {{ post.author|full_name }} on {{ post.date.date }}
        {% if user == post.author %}
            <a class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#edit-{{ post.author }}-{{ post.identifier }}">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{% url 'delete_post' user post.identifier %}" class="text-dark text-decoration-none">
                <i class="bi bi-trash-fill"></i>
            </a>
        {% endif %}
    </small>
    <p class="m-0">{{ post.content|linebreaksbr }}</p>
    <hr class="my-2">
    <div class="m-0 lead">
        <a href="javascript:like_{{ post.identifier }}.like()" class="text-decoration-none me-3"
           id="like-{{ post.author.username }}-{{ post.identifier }}">
            <span id="star-{{ post.author.username }}-{{ post.identifier }}">
                {% if post in user.liked_posts.all %}
                    <i class="bi bi-star-fill"></i>
                {% else %}
                    <i class="bi bi-star"></i>
                {% endif %}
            </span>
            <span id="likes-{{ post.author.username }}-{{ post.identifier }}">{{ post.likes.count }}</span>
        </a>
        <a href="{% url 'post' post.author post.identifier %}" class="text-decoration-none">
            <i class="bi bi-chat-square"></i> {{ post.comments|length }}
        </a>
    </div>

    <script>
        let like_{{ post.identifier }} = new Like('{{ post.author }}', '{{ post.identifier }}')
    </script>

    {% include 'widgets/edit-post.html' %}
</div>