{% load static %}
{% load user_filters %}

<small>
    Published by {{ post.author|full_name }} on {{ post.date.date }}
    <a href="{% url 'delete_post' user post.identifier %}">delete</a>
    <a href="{% url 'edit_post' user post.identifier %}">edit</a>
</small>
<p>{{ post.content }}</p>
<p>
    <span id="likes-{{ post.author.username }}-{{ post.identifier }}">{{ post.likes.count }}</span> likes
    <a href="javascript:like_objects['{{ post.author }}']['{{ post.identifier }}'].like()"
       id="like-{{ post.author.username }}-{{ post.identifier }}">
        {% if post in user.liked_posts.all %}
            Liked!
        {% else %}
            Like
        {% endif %}
    </a> |
    <a href="{% url 'post' post.author post.identifier %}">{{ post.comments|length }} comments</a>
</p>

<script>
    const like_objects = {
        {{ post.author }}: {
            {% for post in post.author.post_set.all %}
                {{ post.identifier }}: new Like('{{ post.author }}', '{{ post.identifier }}', {{ post.likes.count }})
            {% endfor %}
        }
    }
</script>