{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}{% endblock %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="{% static 'js/like.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-body-tertiary">
    <header class="py-3 bg-white mb-3 sticky-top shadow-sm">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center">
                <!-- LOGO -->
                <a href="{% url 'index' %}" class="d-flex align-items-center me-auto">
                    <img src="{% static 'img/faces.svg' %}" alt="Faces logo" height="32">
                </a>

                <!-- NEW POST BUTTON -->
                <button class="btn btn-primary d-none d-sm-flex" data-bs-toggle="modal" data-bs-target="#new-post">New post</button>

                <!-- SEARCH FORM -->
                <form class="mx-3 w-auto input-group d-none d-sm-flex" action="{% url 'browse' %}">
                    <input class="form-control" name="q" size="8">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>

                <!-- MOBILE BUTTON GROUP -->
                <div class="btn-group me-3 d-sm-none">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-post"><i class="bi bi-plus-lg"></i></button>
                    <a class="btn btn-primary"><i class="bi bi-search"></i></a>
                </div>

                <!-- DROPDOWN -->
                <div class="btn-group">
                    <a href="{% url 'profile' user %}" class="btn btn-primary">
                        <span class="d-none d-sm-flex">@{{ user }}</span>
                        <span class="d-sm-none"><i class="bi bi-person-circle"></i></span>
                    </a>
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="d-sm-none"><h6 class="dropdown-header">You are @{{ user }}</h6></li>
                        <li class="d-sm-none"><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'class' user.klass %}">My class</a></li>
                        <li><a class="dropdown-item" href="#">Notifications</a></li>
                        <li><a class="dropdown-item" href="{% url 'friends' %}">Friends</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container col-xxl-6 col-lg-8 mb-3">
        {% block main %}{% endblock %}
    </div>
    {% include 'widgets/create-post.html' %}
    {% block script %}{% endblock %}
    <script src="{% static 'js/end.js' %}"></script>
</body>
</html>