{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load user_filters %}

{% block title %}Browse people on Faces{% endblock %}

{% block main %}
    <form class="input-group" action="{% url 'browse' %}">
        <input class="form-control" name="q" size="8">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </form>
    <hr>
    {% if matches %}
        <p>{{ matches|length }} result{% if matches|length != 1 %}s{% endif %} found:</p>
        {% for match in matches %}
            <p class="lead"><a href="{% url 'profile' match.username %}">
                {{ match|full_name }}
            </a></p>
        {% endfor %}
    {% else %}
        <p>Sorry, no results found.</p>
    {% endif %}
{% endblock %}