{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}
    Home &ndash; Faces
{% endblock %}

{% block main %}
    <h4>Welcome, @{{ user.username }}!</h4>
    {% for request in user.friend_requests.all %}
        <div class="card bg-white p-2">
            <div>
                Incoming friend request from {{ request|full_name }}
                <a class="btn btn-primary px-1 py-0" href="{% url 'accept_friend_request' request %}"><i class="bi bi-check-lg"></i></a>
                <a class="btn btn-secondary px-1 py-0" href="{% url 'decline_friend_request' request %}"><i class="bi bi-x-lg"></i></a>
            </div>
        </div>
    {% endfor %}
    <div id="feed"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}