{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}
    Home &ndash; Faces
{% endblock %}

{% block main %}
    <h4>Welcome, @{{ user.username }}!</h4>
    {% if user.friend_requests %}
        <ul>
            {% for request in user.friend_requests.all %}
                <li>
                    Incoming friend request from {{ request|full_name }}
                    <a href="{% url 'accept_friend_request' request %}">accept</a>
                    <a href="{% url 'decline_friend_request' request %}">decline</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <a href="{% url 'create_post' %}">create</a>
        <a href="{% url 'browse' %}">browse</a>
        <a href="{% url 'profile' user.username %}">profile</a>
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">admin</a>
        {% endif %}
        <a href="{% url 'logout' %}">logout</a>
    </p>

    <div id="feed"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/feed.js' %}"></script>
    <script>
        const batchSize = 10;
        let postsLoaded = 0;
        function getNextPosts() {
            $('.load-posts-button').remove()
            getFeed(postsLoaded, batchSize, '#feed');
            postsLoaded += batchSize;
        }
        getNextPosts();
    </script>
{% endblock %}