{% extends 'base.html' %}

{% load query_filters %}
{% load crispy_forms_tags %}

{% block title %}Post by @{{ post.author.username }}{% endblock %}

{% block main %}
    {% include 'widgets/post.html' %}
    <hr>
    <form method="post" action="{% url 'post' post.author post.identifier %}">
        {% csrf_token %}
        {% crispy form %}
    </form>
    {% if post.comments.all %}
        {% for comment in post.comments|non_reply %}
            <div class="col p-0">
                {% include 'widgets/comment.html' %}
            </div>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
{% endblock %}
