{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Post by @{{ post.author.username }}{% endblock %}

{% block main %}
    {% include 'widgets/post.html' %}
    <hr>
    <form method="post" action="{% url 'post' post.author post.identifier %}" class="col-md-8 col-xl-6 m-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
    {% if comments %}
        <div class="row row-cols-2">
            {% for comment in comments %}
                <div class="col p-0">
                    {% include 'widgets/comment.html' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
{% endblock %}

{% block style %}
    <style>
        textarea {
            max-height: 4rem;
        }
    </style>
{% endblock %}
