{% extends 'base.html' %}

{% load static %}
{% load query_filters %}
{% load display_filters %}

{% block title %}{{ viewed_user.first_name }}'s profile at Faces{% endblock %}

{% block main %}
    <p>
        <span class="display-5">{{ viewed_user.first_name }} {{ viewed_user.last_name }}</span>
        <span class="h3">
            {% if viewed_user.klass %}
                <span class="badge bg-secondary">{{ viewed_user.klass }}</span>
            {% endif %}
            {% if viewed_user == user %}
                <span class="badge bg-primary">It's you</span>
            {% else %}
                <a href="{% url 'friend' viewed_user %}" class="btn btn-primary">
                    {% if user.friends|contains:viewed_user %}
                        End friendship
                    {% elif viewed_user.friend_requests|contains:user %}
                        Revoke friend request
                    {% else %}
                        Send friend request
                    {% endif %}
                </a>
            {% endif %}
        </span>
    </p>
    <div>
        {% if viewed_user.interests %}
            <span class="lead">
                Interested in {{ viewed_user.interests|list }}
            </span>
        {% endif %}
        {% if viewed_user == user %}
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#interests">Edit interests</button>
            {% include 'widgets/interests.html' %}
        {% endif %}
    </div>
    {% if viewed_user.post_set %}
        {% for post in viewed_user.post_set.all reversed %}
            <hr>
            {% include 'widgets/post.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}
